@font-face {
	font-family: AvenirNextLTPro_Bold;
	src: url("./fonts/AvenirNextLTPro_Bold.otf") format("opentype");
}
@font-face {
	font-family: AvenirNextLTPro_Regular;
	src: url("./fonts/AvenirNextLTPro_Regular.otf") format("opentype");
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-image: url(./images/LP_odm_live_3_tlo_1920.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: contain;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 180px;
	max-width: 1200px;
}
section {
	padding-top: 120px;
	width: 100%;
}
.hero {
	width: 100%;
	padding-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	.hero__left {
		display: flex;
		flex-direction: column;
		width: 540px;
		align-items: center;
		text-align: center;
		padding-right: 20px;
		img {
			width: 250px;
			margin-bottom: 30px;
		}
		h1 {
			font-family: AvenirNextLTPro_Bold;
			font-size: 110px;
			line-height: 70px;
		}
		h2 {
			font-family: AvenirNextLTPro_Bold;
			font-size: 45px;
			line-height: 90px;
		}
		h3 {
			font-family: AvenirNextLTPro_Regular;
			font-size: 30px;
		}
		.hero__left--data {
			background-color: black;
			padding: 15px 20px 10px 20px;
			margin: 10px;
			color: white;
			font-family: AvenirNextLTPro_Regular;
			font-size: 30px;
		}
		.hero__left--social {
			display: flex;
			align-items: center;
			justify-content: space-around;
			img {
				margin: 20px;
				width: 65px;
				height: 100%;
			}
		}
	}
	.hero__right {
		box-shadow: 20px 20px rgba($color: #8a847b, $alpha: .4);
		.form__title {
			display: flex;
			flex-direction: column;
			text-align: center;
			background-color: black;
			color: white;
			padding: 15px 0;
			h1 {
				font-family: AvenirNextLTPro_Bold;
				font-size: 18px;
				margin-bottom: 5px;
			}
			h2 {
				font-family: AvenirNextLTPro_Regular;
				font-size: 16px;
				margin-bottom: 5px;
			}
		}
		form {
			display: flex;
			flex-direction: column;
			border: 1px solid black;
			padding: 20px;
			width: 360px;
			background-color: white;
			label {
				font-family: AvenirNextLTPro_Regular;
				font-size: 16px;
			}
			input {
				border: 1px solid black;
				height: 35px;
				margin-bottom: 15px;
				padding: 10px;
			}
			.checkbox {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				margin-bottom: 15px;
				div {
					display: flex;
					margin-right: 8px;
					input {
						height: 12px;
						margin-bottom: 0px;
					}
				}
				p {
					font-family: AvenirNextLTPro_Regular;
					font-size: 12px;
					line-height: 18px;
				}
			}
			button {
				display: flex;
				justify-content: center;
				padding: 15px;
				color: white;
				background-color: black;
				border: none;
				text-align: center;
				font-family: AvenirNextLTPro_Bold;
				font-size: 18px;
			}
		}
	}
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	.content__header {
		font-family: AvenirNextLTPro_Bold;
		margin-bottom: 60px;
		font-size: 16px;
		text-align: center;
	}
	.content__bullets {
		width: 100%;
		display: flex;
		justify-content: space-between;
		font-family: AvenirNextLTPro_Regular;
		font-size: 18px;
		.half {
			display: flex;
			flex-direction: column;
			width: 50%;
		}
		.half:nth-child(2) {
			padding-left: 20px;
		}
		li {
			margin-bottom: 10px;
		}
	}
}
.experts {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	.experts__header {
		font-family: AvenirNextLTPro_Bold;
		margin-bottom: 60px;
		font-size: 16px;
	}
	.experts__themselves {
		display: flex;
		justify-content: space-between;
		width: 100%;
		.experts__themselves--osoba {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			width: 33%;
			img {
				width: 140px;
				margin-bottom: 20px;
			}
			h3 {
				font-family: AvenirNextLTPro_Bold;
				font-size: 18px;
				margin-bottom: 5px;
			}
			p {
				font-family: AvenirNextLTPro_Regular;
				font-size: 14px;
			}
		}
	}
}
.more {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	.more__left {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 50%;
		h2 {
			font-family: AvenirNextLTPro_Bold;
			margin-bottom: 20px;
			font-size: 22px;
		}
		h4 {
			font-family: AvenirNextLTPro_Regular;
			margin-bottom: 20px;
			font-size: 14px;
		}
		a {
			font-family: AvenirNextLTPro_Bold;
			margin-bottom: 20px;
			font-size: 22px;
			color: black;
			text-decoration: none;
		}
	}
	.more__right {
		display: flex;

		width: 50%;
		img {
			align-self: center;
			width: 100%;
		}
	}
}
@media (max-width: 1705px) {
	body {
		background-size: cover;
	}
}
@media (max-width: 1000px) {
	.container {
		max-width: 1200px;
		padding: 0 80px;
	}
}
@media (max-width: 890px) {
	.hero {
		.hero__left {
			h1 {
				font-size: 90px;
				line-height: 45px;
			}
		}
	}
}

@media (max-width: 790px) {
	section {
		padding-top: 60px;
	}
	.container {
		padding: 0 35px;
	}
	.hero {
		.hero__left {
			h1 {
				font-size: 70px;
				line-height: 30px;
			}
			h2 {
				font-size: 35px;
				line-height: 70px;
			}
			.hero__left--data {
				margin: 15px;
				font-family: AvenirNextLTPro_Regular;
				font-size: 20px;
			}
			h3 {
				font-size: 20px;
			}
			.hero__left--social {
				img {
					margin: 10px;
				}
			}
		}
	}
}
@media (max-width: 700px) {
	.hero {
		flex-direction: column;
	}

	.content {
		justify-content: center;
		.content__bullets {
			flex-direction: column;
			text-align: center;
			list-style-position: inside;
			.half {
				width: 100%;
			}
			.half:nth-child(2) {
				padding-left: 0px;
			}
		}
	}
	.experts {
		.experts__header {
			margin-bottom: 30px;
		}
		.experts__themselves {
			flex-direction: column;
			align-items: center;
			.experts__themselves--osoba {
				margin-bottom: 30px;
				width: 100%;
			}
		}
	}
	.more {
		flex-direction: column;
		.more__left {
			width: 100%;
		}
		.more__right {
			width: 100%;
		}
	}
}
@media (max-width: 535px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}
	.container {
		padding: 0 10px;
		width: 100%;
	}
	section {
		width: 100%;
	}
	.hero {
		.hero__left {
			padding-right: 0px;
			width: 100%;
		}
	}
}
